@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #24252e;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 20px 5%;
  display: flex;
  background-color: #292B36;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(247, 245, 245, 0.3) 0px 1px 3px -1px;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 25px;
  margin-right: 10px;
}

nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #00ff6a 0%, #00ff80a1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

